* {
    font-family: 'Rubik Spray Paint';
    font-size: 18px;
}

.links {
    margin: auto;
    width: 350px;
}

.links__input {
    padding: 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-left: 5px solid rgb(185, 185, 185);
    margin-bottom: 4px;
}

.links__input:hover {
    outline: none;
    cursor: pointer;
}

.links__button {
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: rgb(83, 152, 255);
    color: white;
    border: none;
    padding: 7px 0;
    border-left: 5px solid rgb(46, 92, 161);
}